.header{
    height: 59px;
    width: 100%;
    position: fixed;
    background: blue;
    top: 0;
}

.header-content {
    margin-right: 5%;
    margin-left: 5%;
    width: 90%;
    background: blue;
    text-align: center;
    position: fixed;
}

button {
    background: lightgrey;
    width: 20%;
    padding: 20px 20px;
}

button:hover {
    background: dimgrey;
}