.header {
    position: fixed;
    background: blue;
    top: 0;
    width: 100%;
    text-align: center;
}

.header-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

button {
    background: lightgrey;
    width: 20%;
    padding: 20px 20px;
}

button:hover {
    background: dimgrey;
}